body{
    font-weight: 400;
    margin-top: 0;
    margin-left: 2px;
    margin-right: 1px;  
}
 h5:hover, h6:hover{
     color: #7a7665;
 }
 .box{
   
    width: 1000px;
    margin: 0 auto;
    height: 98%;
    border-left: 5px solid #e6e4da;
    border-right: 5px solid #e6e4da; 
    border-bottom: 5px solid #e6e4da;
    border-radius: 20px;
} 

header .logo{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
header .logo p{
    font-weight: 300;
    margin-top: -5px;
}
.nav{
    border-top: 2px solid #e6e4da;
    border-bottom: 2px solid #e6e4da;
    width: 95%;
    margin: 0 auto;
    padding-top: 14px;
    padding-left: 4px;
    padding-bottom: 14px;
}
.nav h5{
    
    font-weight: 300;
    margin-right: 6px;
    display: inline;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}
.creslo p {
    font-size: 17px;
    font-weight: 500;
}
.welcome{
    margin-top: 40px;
    border-top: 2px solid #e6e4da;
    border-bottom: 2px solid #e6e4da;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
}

.creslo {
    width: 900px; 
    margin: 0 auto;
   
}
.creslo img{
    outline: 2px solid #e6e4da;
    border: 4px solid white;
}
.grey{
    font-weight: 400;
    color:  #837f7f;
    text-align: center;
}
.str{
  
    display: block;
    margin: auto;
  /* margin-left: 5%; */
}
.reasons{
    width: 900px;
    height: 350px;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    /*flex-shrink: 1;
    flex-grow: 1;   
    РАЗОБРАТЬСЯ С ИЗМЕНЕНИЕМ ОТОБРАЖЕНИЯ ПРИ УМЕНЬШЕНИИ-УВЕЛИЧЕНИИ ОКНА*/

}
.typewriters, .antique, .compasses{
    height: 310px;
    max-width: 270px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.typewriters p, .compasses p, .antique p{
    font-size: 17px;
    margin-top: 0px;
    margin-right: 10px;
}

.typewriters img, .compasses img, .antique img, .bottblock img{
    outline: 2px solid #e6e4da;
    border: 4px solid white;
}
.join{
    width: 900px;
    font-size: 17px;
    display: flex;
    margin-left: 10px;
    justify-content: space-around;
    margin: 0 auto 20px auto;
    
}
.left{
 width: 50%;
 margin-right: 100px;
 
}


table{
    /* border: 1px solid #f4f4f4; */
    width: 260px;
    font-size: 15px;
    border-collapse: collapse;
    
}
td, thead{
    border: 1.3px solid #f4f4f4;
    margin: 0 0;
    padding-left: 7px;
}
table thead, table .trdr{
   background: #f4f4f4;
}
.brown{
    color: #a33614;
    font-size: 19px;
}
.bottblock{
    display: flex;
    
    align-items: center;
}
.ourshop{
    margin-left: 70px;
    margin-bottom: 20px;
    width: 500px;
}
.subscribe{
    height: 329px;
    margin-left: 110px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}
input{
    display: block;
    margin-bottom: 4px;
    border: 2px solid #eae4cb;
    padding-left: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 190px;
    border-radius: 10px;
}
.subm{
    background: orange;
    width: 120px;
    border-radius: 10px;
    margin-top: 30px;
}

    
footer{
    
    margin-top: 10px;
    text-align: center;
}
footer h6{
    
    font-weight: 200;
    display: inline;
    text-align: center;
}