body{
    margin-top: 0;
    margin-left: 2px;
    margin-right: 1px;
    
    border-left: 6px solid #e6e4da;
    border-right: 6px solid #e6e4da; 
    
    
}
/* .box{
    width: 1300px;
    margin: 0 auto;
    height: 98%;
} */

header .logo{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
header .logo p{
    font-weight: 300;
    margin-top: -5px;
}
.nav{
    border-top: 2px solid #e6e4da;
    border-bottom: 2px solid #e6e4da;
    width: 95%;
    margin: 0 auto;
    padding-top: 14px;
    padding-left: 4px;
    padding-bottom: 14px;
}
.nav h5{
    
    font-weight: 300;
    margin-right: 6px;
    display: inline;
}
.welcome{
    margin-top: 40px;
    border-top: 2px solid #e6e4da;
    border-bottom: 2px solid #e6e4da;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
}
.history{
}
.creslo {
    width: 1100px; 
    margin: 0 auto;
   
}
.creslo img{
    outline: 2px solid #e6e4da;
    border: 4px solid white;
}
.grey{
    font-weight: 400;
    color:  #837f7f;
    text-align: center;
}
.str{
  
    display: block;
    margin: auto;
  /* margin-left: 5%; */
}
.reasons{
    width: 1100px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    /*flex-shrink: 1;
    flex-grow: 1;   
    РАЗОБРАТЬСЯ С ИЗМЕНЕНИЕМ ОТОБРАЖЕНИЯ ПРИ УМЕНЬШЕНИИ-УВЕЛИЧЕНИИ ОКНА*/

}
.typewriters, .antique, .compasses{
    height: 310px;
    max-width: 340px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.typewriters p, .compasses p, .antique p{
    font-size: 15px;
}

.typewriters img, .compasses img, .antique img{
    outline: 2px solid #e6e4da;
    border: 4px solid white;
}